body{
  font-family: 'Open Sans', sans-serif;
}

header{
  margin: 32px 0px ;
}

h1{
  font-weight: bold;
}

li{
  list-style: none;
}

li::first-letter{
  text-transform: capitalize;
}

.searchArea{
  margin: 0px 0px 32px 0px;
}
.search-btn{
  background: #F7F7F7;
  color: #000000;
}

.weatherBox{
  border: #F7F7F7 1px solid;
  padding: 20px;
}

.todayWeather{
  margin-bottom: 15px;
}

.citySearched{
  font-size: 24px;
  font-weight: bold;
}

.DateTime, .card-text{
  font-size: 10px;
  color: #939AA9;
}

.fa-snowflake{
  font-size: 24px;
  font-weight: bold;
}

.weather-temp{
  display: flex;
  position: relative;
}

.weather-temp img{
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -22px;
}

.temperature{
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
}

.temperature-card{
  font-size: 18px;
  font-weight: bold;
}
.card-img-top{
  padding: 0px 0px 15px 0px;
}

.card-title{
  margin: 0;
}

.card-header{
  font-weight: bold;
}

.colTemp{
  margin-bottom: 10px;
}

.bg-light{
  font-size: small;
  padding: 10px 0px;
}

.active{
  color: #000000;
  text-decoration: none;
}

.active:hover{
  cursor:default;
}